@model IEnumerable<GuestBook.Models.Book>

@{
    ViewData["Title"] = "留言板管理";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table table-striped table-hover border">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Description)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.Photo)
            </th> *@
            @*  <th>
            @Html.DisplayNameFor(model => model.ImageType)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @* <td>
                    @* @Html.DisplayFor(modelItem => item.Description) 
                    @Html.Raw(item.Description.ToString().Replace("\r\n", "<br>"))
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.Photo)
            </td> *@
                @* <td>
            @Html.DisplayFor(modelItem => item.ImageType)
            </td> *@
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.GId">Edit</a> | *@
                    @* <a asp-action="Details" asp-route-id="@item.GId">Details</a> | *@
                    <a asp-action="Delete" asp-route-id="@item.GId" class="btn btn-danger">檢視</a>
                </td>
            </tr>
        }
    </tbody>
</table>
